/.husky
/.vscode
/devtools
/doc
/dist
/img
/js
/locales
/modules
/node_modules
/src
/test

.editorconfig
.eslintignore
.eslintrc
.eslintrc.js
.gitignore
.prettierrc\
.npmrc
bitbucket-pipelines.yml
CHANGELOG.md
CHANGELOG_3_0_0.md
CODE_OF_CONDUCT.md
License.txt
package-lock.json
package.json
publiccode.yml
README.md
